.service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: #ffffff;
    padding: 0;
}

.service-item {
    flex: 1 1 calc(33.33% - 0px);
    margin: 0;
}
